.About--container {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
  overflow: visible;
  padding: 20px 20px 0;
}

@media (min-width: 750px) {
  .About--container {
    padding: 15px 20px 10px;
    grid-gap: 15px;
  }
}

.About {
  display: grid;
  justify-items: start;
  align-items: center;
  grid-gap: 10px;
  width: 100%;
}

.About > label {
  justify-self: start;
}

@media (min-width: 750px) {
  .About {
    grid-gap: 5px;
    color: inherit;
    justify-items: start;
  }

  .About > h3,
  .About > div, {
    padding: 0 10px;
  }
}

@media (min-width: 750px) {
  .About--event-status {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 100%;
    border-radius: 5px;
  }

  .About--event-status:active {
    transform: scale(0.99);
  }

  .About--event-status > p {
    font-weight: bold;
  }

  .About--event-status:hover {
    cursor: pointer;
  }
}
