.About--container {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
  overflow: visible;
  padding: 20px 20px 0;
}

.About {
  display: grid;
  justify-items: start;
  align-items: center;
  grid-gap: 10px;
  width: 100%;
}

.About > label {
  justify-self: start;
}

.About > h3 {
  padding: 0 10px;
}

@media (min-width: 750px) {
  .About--container {
    padding: 0;
  }

  .About {
    padding: 30px;
    grid-gap: 5px;
    color: inherit;
    justify-items: center;

  }

  .About--event-status-container {
    padding: 0 30px 30px 30px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .About--event-status {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .About--event-status > p {
    font-weight: 400;
  }

  .About--event-status:hover {
    cursor: pointer;
  }
}
