.About--container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: visible;
  padding: 20px 20px 10px 20px;
}

.About {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-gap: 10px;
  width: 100%;
  color: #eeeeee;
}

.About > label {
  justify-self: start;
}

@media (min-width: 750px) {
  .About--container {
    padding: 0;
  }

  .About {
    padding: 30px;
    grid-gap: 5px;
    color: inherit;
  }

  .About--event-status-container {
    padding: 0 30px 30px 30px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .About--event-status {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 130px;
  }

  .About--event-status:hover {
    cursor: pointer;
  }
}
