.EventDetail--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.EventDetail--tab-control {
  display: flex;
  height: 3em;
  width: 100%;
  background-color: rgba(0,0,0,.88);
  color: white;
  align-items: center;
}

.EventDetail--tab-control > div {
  height: 98%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.EventDetail--tab-control > div > h3 {
  font-size: 1.2em;
}

.EventDetail--tab-control > div:hover {
  cursor: pointer
}
