.EventDetail-Body--components {
  display: grid;
  grid-gap: 10px;
  width: 100%;
}

.EventDetail-Body--component {
  display: grid;
  align-items: center;
  justify-items: center;
  /* height: 100%; */
  width: 100%;
  background-color: transparent;
}

.EventDetail-Body--component-title {
  display: none;
}

.EventDetail-Body--loader {
  align-self: center;
}

@media (min-width: 750px) {
  .EventDetail-Body--components-container {
    padding: 40px;
  }

  .EventDetail-Body--components {
    /* grid-auto-columns: minmax(15.25rem, 1fr);
    grid-auto-rows: minmax(14.5rem, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(15.25rem, auto)); */
    justify-content: center;
    grid-gap: 40px;
  }

  .EventDetail-Body--component {
    position: relative;
    grid-template-rows: 30px auto;
    background-color: var(--light-gray);
    box-shadow: 0 5px 1px 0 var(--darker-blue);
    border-radius: 1px;
  }

  .EventDetail-Body--component-title {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-gray);
    color: var(--light-gray);
    border-radius: 1px 1px 0 0;
  }

  .EventDetail-Body--notes {
    overscroll-behavior-y: contain;
    overflow: auto;
    align-self: start;
  }
}
