.SubHeader {
  width: 100%;
  min-height: 200px;
  display: grid;
  align-items: center;
  padding: 40px;
}

.SubHeader--fields-container,
.SubHeader--status-container,
.SubHeader--commission-container,
.SubHeader--summary-container,
.SubHeader--fields,
.SubHeader--status,
.SubHeader--commission,
.SubHeader--summary {
  display: grid;
}

.SubHeader--fields-container,
.SubHeader--status-container,
.SubHeader--commission-container,
.SubHeader--summary-container  {
  height: 100%;
  align-items: center;
  background-color: var(--dark-gray);
}

.SubHeader--component-title {
  display: none;
}

.SubHeader--fields,
.SubHeader--status,
.SubHeader--commission,
.SubHeader--summary {
  grid-row-gap: 10px;
  grid-column-gap: 30px;
}

.SubHeader--Edit .SubHeader--fields > *,
.SubHeader--Edit .SubHeader--status > *,
.SubHeader--Edit .SubHeader--commission > *,
.SubHeader--Edit .SubHeader--summary > * {
  width: 100%;
}

.SubHeader--status, .SubHeader--commission {
  padding: 30px;
}

@media (min-width: 750px) {
  .SubHeader {
    height: 100%;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-gap: 40px;
  }

  .SubHeader--fields-container,
  .SubHeader--status-container,
  .SubHeader--commission-container,
  .SubHeader--summary-container {
    grid-template-rows: 30px auto;
    background-color: var(--light-gray);
  }

  .SubHeader--fields,
  .SubHeader--status,
  .SubHeader--commission,
  .SubHeader--summary {
    justify-items: center;
    align-items: center;
    padding: 30px;
  }

  .SubHeader--Edit .SubHeader--fields,
  .SubHeader--Edit .SubHeader--status,
  .SubHeader--Edit .SubHeader--commission,
  .SubHeader--Edit .SubHeader--summary  {
    align-self: start;
  }

  .SubHeader--component-title {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-gray);
    color: var(--light-gray);
  }
}
