.SubHeader--fields-container,
.SubHeader--status-container,
.SubHeader--commission-container,
.SubHeader--summary-container  {
  display: grid;
  align-items: center;
  height: 100%;
}

@media (min-width: 750px) {
  .SubHeader--fields-container,
  .SubHeader--status-container,
  .SubHeader--commission-container,
  .SubHeader--summary-container {
    grid-template-rows: 40px auto;
    background-color: var(--light-gray);
  }
}

.SubHeader--fields,
.SubHeader--status,
.SubHeader--commission,
.SubHeader--summary {
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 30px;
  padding: 30px;
}

@media (min-width: 750px) {
  .SubHeader--fields,
  .SubHeader--status,
  .SubHeader--commission,
  .SubHeader--summary {
    justify-items: center;
    align-items: center;
  }
}

.SubHeader--Edit .SubHeader--fields > *,
.SubHeader--Edit .SubHeader--status > *,
.SubHeader--Edit .SubHeader--commission > *,
.SubHeader--Edit .SubHeader--summary > * {
  width: 100%;
}

.SubHeader--Edit .SubHeader--fields,
.SubHeader--Edit .SubHeader--status,
.SubHeader--Edit .SubHeader--commission,
.SubHeader--Edit .SubHeader--summary {
  padding: 30px;
}

@media (min-width: 750px) {
  .SubHeader--Edit .SubHeader--fields,
  .SubHeader--Edit .SubHeader--status,
  .SubHeader--Edit .SubHeader--commission,
  .SubHeader--Edit .SubHeader--summary  {
    align-self: start;
  }
}

.SubHeader--component-title {
  display: none;
}

@media (min-width: 750px) {
  .SubHeader--component-title {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-gray);
    color: var(--light-gray);
  }
}

@media (min-width: 750px) {
  .SubHeader--status, .SubHeader--commission {
    padding: 30px;
  }
}

.SubHeader .Field > h4 {
  justify-self: left;
}
