.Modal {
  background: var(--white);
  overflow: auto;
  WebkitOverflowScrolling: touch;
  outline: none;
  position: relative;
  display: grid;
  height: 100%;
  width: 100%;
  overscroll-behavior-y: contain;
}

@media (min-width: 750px) {
  .Modal {
    height: auto;
    width: auto;
    min-height: 300px;
    max-height: 650px;
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    transition: all 200ms ease-out;
  }
}

.Modal--overlay {
  position: fixed;
  height: calc(100vh - 75px);
  width: 100%;
  top: 75px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.88);
  z-index: 1000;
}

@media (min-width: 750px) {
  .Modal--overlay {
    height: 100%;
    top: 0;
  }
}

.Modal--content {
  display: grid;
  grid-template-rows: 1fr auto;
}

.Modal--close {
  display: none;
  color: var(--white);
}

@media (min-width: 750px) {
  .Modal--close {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 7.5px 10px 0 0;
  }
}

.Modal--mobile-space {
  height: var(--mobile-adj);
}
