.Modal {
  min-height: 450px;
  max-height: 650px;
  width: 85%;
  border: 1px solid #ccc;
  background: #eee;
  overflow: auto;
  WebkitOverflowScrolling: touch;
  border-radius: 5px;
  outline: none;
  position: relative;
  display: grid;
}

.Modal--overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.88);
  z-index: 10000;
}

.Modal--content {
  display: grid;
}

.Modal--close {
  position: absolute;
  top: 1%;
  right: 1%;
}
