.Modal {
  background: #eee;
  overflow: auto;
  WebkitOverflowScrolling: touch;
  outline: none;
  position: relative;
  display: grid;
  height: 100%;
  width: 100%;
}

@media (min-width: 750px) {
  .Modal {
    min-height: 450px;
    max-height: 650px;
    width: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

.Modal--overlay {
  position: fixed;
  height: calc(100vh - 75px - var(--mobile-adj));
  width: 100%;
  top: 75px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.88);
  z-index: 1000;
}

@media (min-width: 750px) {
  .Modal--overlay {
    height: 100%;
    top: 0;
  }
}

.Modal--content {
  display: grid;
}

.Modal--close {
  display: none;
}

@media (min-width: 750px) {
  .Modal--close {
    display: block;
    position: absolute;
    top: .75%;
    right: 1%;
  }
}
