.Edit--field {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Edit--input {
  text-align: center;
  border-radius: 5px;
  border: 1px solid white;
  height: 100%;
  width: 100%;
  font-size: 1em;
}

.Edit--input, .datetime {
  font-family: "Helvetica neue"
}

.Edit--date-input-container {
  width: 100%;
  height: 100%;
}

.Edit--results {
  display: none;
  z-index: 1;
  position: absolute;
  top: 125%;
  width: 100%;
  height: 600%;
  overflow: auto;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 3px 2px lightgray;
}

.Edit--search-result {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 33%;
  z-index: 2;
}

.Edit--search-result:hover {
  cursor: pointer;
  background-color: var(--light-blue);
}
