.Logistics--container {
  display: grid;
  justify-items: center;
  align-items: start;
  height: 100%;
  width: 100%;
  padding: 0 20px;
  overflow: visible;
}

@media (min-width: 750px) {
  .Logistics--container {
    padding: 10px 20px;
  }
}

.Logistics {
  display: grid;
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.Logistics > label {
  justify-self: start;
}
