.Summary--container {
  width: 100%;
  height: 100%;
  padding: 40px;
  display: grid;
}

.Summary {
  display: grid;
  width: 100%;
  background-color: var(--dark-gray);
  justify-self: end;
  color: #eee;
}

.Summary--totals {
  display: grid;
  grid-gap: 5px;
  padding: 15px;
  justify-content: right;
}


.Summary--totals > * {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  justify-content: end;
  align-items: center;
  justify-items: end;
  font-size: 25px;
}
