.Summary--container {
  width: 100%;
  height: 100%;
  display: grid;
  max-width: 900px;
}

.Summary {
  display: grid;
  width: 100%;
}

@media (min-width: 750px) {
  .Summary {
    background-color: var(--dark-gray);
    color: #eee;
    justify-content: end;
  }
}

.Summary--totals {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, auto));
  padding: 20px;
  justify-content: space-evenly;
  border-top: 1px solid #BBBBBB;
  grid-row-gap: 30px;
}

@media (min-width: 750px) {
  .Summary--totals {
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    justify-content: end;
    border: none;
    padding: 20px 10px;
  }
}

.Summary--totals > * {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: auto 1fr;
}

@media (min-width: 750px) {
  .Summary--totals > * {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-gap: 40px;
    justify-items: end;
  }

  .Summary--totals > * > label {
    justify-self: start;
  }
}

.Summary--totals > div > form {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 10px;
}

.Summary--input {
  text-align: center;
  border-radius: 5px;
  border: 1px solid #BBBBBB;
  font-family: 'Calibri', sans-serif;
  font-size: 1.4em;
  background-color: #F8F8F8;
  width: 107px;
  height: 50px;
  padding: 10px 5px;
}
