* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  position: relative;
  text-align: center;
}

@media (min-width: 750px) {
  .App {
    height: calc(100vh);
    background-color: var(--dark-blue)
  }
}

h1, h2 {
  font-family: 'Calibri', sans-serif;
  font-weight: 300;
}

h3, h4, h5, h6, p, a, label, td, th, input, select, button, textarea {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 3.5em;
  font-weight: 400;
}

h2 {
  font-size: 1.4em;
}

h3, input, select {
  font-size: 1.4em;
}

h4, p, textarea {
  font-size: 1em;
}

@media (min-width: 750px) {
  h3, input, textarea, select {
    font-size: 1.2em;
  }
}

h5, label {
  font-size: .9em;
}

h6 {
  font-size: .6em;
}

li, select {
  width: 100%;
}

button:hover, .Icon:hover {
  cursor: pointer
}

button:active, button:focus {
  outline: none;
}

button {
  display: inline-block;
  border: none;
  padding: 0;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  background: transparent;
  transition: background 250ms ease-in-out,
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

label {
  text-align: left;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  padding: 5px 0;
  color: var(--turquoise);
}

.client {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  font-family: 'Roboto', sans-serif;
}

input:not([type=checkbox]):not([type=radio]) {
  -webkit-appearance: none;
}

input:focus, select:focus {
  box-shadow: 0 0 2px 2px var(--light-blue);
  border: 1px solid var(--light-blue);
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

select {
  text-align-last: center;
}


/* -----------Fields------------ */

.Field {
  height: 100%;
  width: auto;
  min-height: 36px;
  padding: 5px;
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 5px;
}

.Field > p {
  width: 100%;
}

@media (min-width: 750px) {
  .Field {
    height: 36px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Field > p {
    width: 100%;
  }
}

.Edit--Field {
  position: relative;
  width: 100%;
  min-width: 100px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F8F8F8;
  border: 1px solid #BBBBBB;
  border-radius: 5px;
}

.datetime:hover {
  cursor: pointer;
}

@media (min-width: 750px) {
  .Edit--Field {
    height: 36px;
  }
}

/* -----------Inputs------------- */

.Input--container {
  width: 100%;
  height: 100%;
}

.Input {
  height: 100%;
  width: 100%;
  padding: 0 10px;
  min-width: 275px;
  text-align: center;
  border-radius: 5px;
  border: none;
  /* border-left: 1px solid #BBBBBB; */
  /* border-right: 1px solid #BBBBBB; */
  background-color: #F8F8F8;
}

/* -------------------------Search-Results------------------------ */

.Edit--results {
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 1px 2px 2px #999;
}

.Edit--result {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 33.3%;
  color: black;
}

.Edit--result:hover {
  cursor: pointer;
}

.search-input {
  text-align: center;
  border-radius: 5px;
  border: 1px solid white;
  height: 100%;
  width: 100%;
}

/* -------------------------Misc---------------------------------- */

.Arrow {
  appearance: none;
	user-select: none;
	outline: none !important;
	display: inline-block;
	position: relative;
	cursor: pointer;
	padding: 0;
	border: none;
	border-top: 10px solid var(--dark-gray);
	border-bottom: 10px solid var(--dark-gray);
	transition: all 250ms ease-out;
}

.Arrow-Left {
  border-right: 15px solid #ccc;
  justify-self: right;
}

.Arrow-Left:hover {
  border-right-color: var(--turquoise);
}

.Arrow-Right {
  border-left: 15px solid #ccc;
  justify-self: left;
}

.Arrow-Right:hover {
  border-left-color: var(--turquoise);
}
