* {
  margin: 0;
}

.App {
  text-align: center;
}

.ListPage {
  height: 100vh;
  display: grid;
  grid-template-rows: 75px auto
}

.logo {
  width: 140px;
  height: 33px;
  padding: 10px;
}

h1 {
  font-size: 60px;
  font-weight: 400;
}
