* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  text-align: center;
  background-color: var(--dark-blue);

  /* Color Palette */
  --darker-blue: #143154;
  --dark-blue: #1D4678;
  --med-dark-blue: #0071B5;
  --dark-gray: #222222;

  --turquoise: #01B0DF;
  --light-blue: #D4F1FF;


  --med-dark-blue-t: rgba(0, 113, 181, .4);
  --turquoise-t: rgba(1, 176, 223, .6);
  --light-blue-t: rgba(212,241,255, .3);

  --light-gray: #DADBE0;
}

h1, h2 {
  font-family: 'Calibri', sans-serif;
  font-weight: 300;
}

h3, h4, h5, h6, p, a, label, td, th {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 3.5em;
  font-weight: 400;
}

h2, input, textarea {
  font-size: 1.4em;
}

h3, p {
  font-size: 1.2em;
}

h4, label {
  font-size: 1em;
}

h5 {
  font-size: .8em;
}

h6 {
  font-size: .6em;
}

li, select {
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

button:hover, .Icon:hover {
  cursor: pointer
}

button:active, button:focus {
  outline: none;
}

label {
  text-align: left;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  padding: 5px 0;
  color: var(--turquoise);
}

.client {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  font-family: 'Roboto', sans-serif;
}

input:focus, select:focus {
  box-shadow: 0 0 2px 2px var(--light-blue);
  border: 1px solid var(--light-blue);
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

select {
  text-align-last: center;
}

/* -----------Fields------------ */

.Field {
  height: 100%;
  width: auto;
  min-height: 36px;
  padding: 5px;
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 5px;
}

.Field > p {
  width: 100%;
}

@media (min-width: 750px) {
  .Field {
    height: 36px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Field > p {
    width: 100%;
  }
}

.Edit--Field {
  position: relative;
  width: 100%;
  min-width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F8F8F8;
  border: 1px solid #BBBBBB;
  border-radius: 5px;
}

@media (min-width: 750px) {
  .Edit--Field {
    height: 36px;
  }
}

/* -----------Inputs------------- */

.Input--container {
  width: 100%;
  height: 100%;
}

.Input {
  height: 100%;
  width: 100%;
  min-width: 275px;
  text-align: center;
  border-radius: 5px;
  border: none;
  /* border-left: 1px solid #BBBBBB; */
  /* border-right: 1px solid #BBBBBB; */
  background-color: #F8F8F8;
}

/* -------------------------Search-Results------------------------ */

.Edit--results {
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 1px 2px 2px #999;
}

.Edit--result {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 33.3%;
  color: black;
}

.Edit--result:hover {
  cursor: pointer;
}

.search-input {
  text-align: center;
  border-radius: 5px;
  border: 1px solid white;
  height: 100%;
  width: 100%;
}

/* -------------------------Misc---------------------------------- */

.Arrow {
  appearance: none;
	user-select: none;
	outline: none !important;
	display: inline-block;
	position: relative;
	cursor: pointer;
	padding: 0;
	border: none;
	border-top: 10px solid var(--dark-gray);
	border-bottom: 10px solid var(--dark-gray);
	transition: all 250ms ease-out;
}

.Arrow-Left {
  border-right: 15px solid #ccc;
  justify-self: right;
}

.Arrow-Left:hover {
  border-right-color: var(--turquoise);
}

.Arrow-Right {
  border-left: 15px solid #ccc;
  justify-self: left;
}

.Arrow-Right:hover {
  border-left-color: var(--turquoise);
}
