.Schedule--event-summary {
  align-self: end;
}

.Schedule--event-time {
  align-self: start;
}

.Schedule--event-summary > h4 {
  font-weight: 700;
}

.Schedule--notes {
  font-size: .8em;
}

.Schedule--confirmation {
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}
