.Schedule--event {
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: start;
  padding: 10px 20px;
}

.Schedule--event-summary {
  justify-self: start;
}

.Schedule--event-summary > h4 {
  font-weight: 700;
}

@media (min-width: 750px) {
  .Schedule--event-summary > h4 {
    font-size: 1.2em;
  }
}

.Schedule--event-time {
  display: grid;
  align-items: center;
  justify-items: start;
}

.Schedule--event-time-until {
  grid-column: 2;
}

.Schedule--notes {
  font-size: .8em;
}

.Schedule--confirmation {
  height: 100%;
  width: 100%;
  max-width: 110px;
  justify-self: end;
  display: grid;
  align-items: center;
  justify-items: center;
}

.Schedule--confirmation:hover {
  cursor: pointer;
}
