.ItemSelector {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100%;
  grid: 75px 1fr auto / auto;
}

@media (min-width: 750px) {
  .ItemSelector {
    background-color: var(--light-gray);
    display: grid;
    justify-items: center;
    align-items: center;
    grid: 75px 1fr auto / auto;
    height: 100%;
    width: 75vw;
  }
}

@media (min-width: 1200px) {
  .ItemSelector {
    width: 50vw;
  }
}

@media (min-width: 1900px) {
  .ItemSelector {
    width: 25vw;
  }
}

.ItemSelector--title {
  background-color: var(--darker-blue);
  display: grid;
  align-items: center;
  justify-items: center;
  height: 75px;
  color: #eee;
  padding: 5px;
  align-self: start;
  justify-self: stretch;
}

.ItemSelector--title > h2 {
  text-shadow: 0 2px 10px black;
}


.ItemSelector--search {
  width: 100%;
  height: 60px;
  margin-top: 15px;
}

.ItemSelector--search > input {
  width: 90%;
  border: 1px solid #BBBBBB;
}

@media (min-width: 750px) {
  .ItemSelector--search {
    height: 45px;
  }

  .ItemSelector--search > input {
    width: 80%;
  }
}

.ItemSelector--search-results {
  position: static;
  margin: 15px 0;
  height: calc(100vh - 340px);
}

@media (min-width: 750px) {
  .ItemSelector--search-results {
    position: static;
    background-color: white;
    margin: 15px auto;
    height: 405px;
    width: 90%;
  }
}

.ItemSelector--search-result {
  display: grid;
  grid-auto-flow: column;
  grid: auto / 80px auto 50px 75px;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  padding: 5px;
  height: 20%;
  color: black;
  background-color: white;
}

@media (min-width: 750px) {
  .ItemSelector--search-result {
    display: grid;
    grid-auto-flow: column;
    grid: auto / 80px 100px auto 80px 100px;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    padding: 5px;
    height: 20%;
    color: black;
  }
}

.ItemSelector--search-result:hover {
  cursor: pointer;
}

.ItemSelector--buttons {
  display: grid;
  justify-content: center;
  grid-gap: 15px;
  align-self: end;
  padding-bottom: 20px;
}

@media (min-width: 750px) {
  .ItemSelector--buttons {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    grid-gap: 15px;
  }
}

.ItemSelector--button {
  border: 3px solid var(--dark-gray);
  border-radius: 5px;
  padding: 15px;
  color: var(--dark-gray);
}

.ItemSelector--button:hover {
  cursor: pointer;
}

.ItemSelector--button-text {
  font-weight: 700;
}

.SearchResult--name {

}

.SearchResult--image > img {
  max-width: 70px;
  max-height: 70px;
}

.SearchResult--quantity,
.SearchResult--price {
  justify-self: stretch;
  align-self: stretch;
  display: grid;
  grid: 25px auto / auto;
  justify-items: center;
  align-items: center;
}

.SearchResult--price {
  grid-column: 4;
}

@media (min-width: 750px) {
  .SearchResult--price {
    grid-column: 5;
  }
}
