.ItemSelector {
  background-color: var(--med-dark-blue);
  display: grid;
  justify-items: center;
  align-items: center;
  grid: 68px auto 55px / auto;
  padding: 10px;
  height: 630px;
}

.ItemSelector > h1 {
  border-bottom: 1px solid #eee;
  color: #eee;
  padding: 5px;
  align-self: start;
  justify-self: stretch;
}

.ItemSelector--search {
  width: 100%;
  height: 45px;
  margin-top: 15px;
}

.ItemSelector--search > input {
  width: 80%;
}

.ItemSelector--search-results {
  position: static;
  border-radius: 5px;
  background-color: white;
  /* box-shadow: 0 3px 3px 3px #999; */
  margin: 15px auto;
  height: 405px;
  width: 90%;
}

.ItemSelector--search-result {
  display: grid;
  grid-auto-flow: column;
  grid: auto / 80px 100px auto 80px 100px;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  padding: 5px;
  width: 100%;
  height: 20%;
  color: black;
}

.ItemSelector--search-result:hover {
  cursor: pointer;
  background-color: var(--light-blue);
}

.SearchResult--name {
  /* justify-self: start;
  text-align: left; */
}

.SearchResult--image > img {
  width: 70px;
  height: 70px;
}

.SearchResult--quantity,
.SearchResult--price {
  justify-self: stretch;
  align-self: stretch;
  display: grid;
  grid: 25px auto / auto;
  justify-items: center;
  align-items: center;
}
