.SearchField {
  display: grid;
  grid-auto-flow: column;
  grid: auto / 1fr auto;
  width: 100%;
}

.SearchField > button {
  width: 40px;
  padding: 5px;
  border-radius: 0 5px 5px 0;
  border-width: 1px 1px 1px 0;
  border-color: #bbbbbb;
  border-style: solid;
  background-color: #f8f8f8;
  color: var(--default-black);
}

.SearchField--results-container {
  z-index: 10000;
  position: absolute;
  top: 105%;
  left: -1%;
  width: 102%;
  height: 180px;
  overflow: auto;
  overscroll-behavior-y: contain;
  background-color: var(--highlight);
  border-radius: 5px;
}

@media (min-width: 750px) {
  .SearchField--results-container {
    height: 150px;
  }
}

.SearchField--subtitle {
  position: sticky;
  top: 0;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: var(--dark-gray);
  color: var(--light-gray);
  padding: 5px;
}

.SearchField--create {
  background-color: limegreen;
  color: var(--white);
  height: 100%;
  display: grid;
  grid: auto / 40px auto 40px;
  justify-content: stretch;
  align-items: center;
  justify-items: center;
}

.SearchField--create > p {
  font-weight: bold;
}

@media (min-width: 750px) {
  .SearchField--subtitle {
    height: auto;
    font-size: inherit;
    padding: 5px;
  }
}
