.Schedule--container {
  margin: 20px auto;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

.Schedule--dialog {
  color: white;
  font-size: 18px;
  display: grid;
  grid-gap: 5px;
}

.Schedule--not-currently {
  color: white;
}

@media (min-width: 750px) {
  .Schedule--container {
    margin: 20px auto;
    width: 75%;
  }
}
