.Schedule--container {
  width: 100%;
  display: grid;
  grid-gap: 15px;
  justify-items: center;
  align-items: center;
}

.Schedule--dialog {
  color: white;
  display: grid;
  grid-gap: 5px;
}

.Schedule--not-currently {
  color: #eee;
}

@media (min-width: 750px) {
  .Schedule--container {
    justify-self: center;
    width: 550px;
  }
}
