.Schedule--container {
  margin: 20px auto;
  width: 100%;
}

.Schedule--dialog {
  color: white;
  margin: 2px auto;
  font-size: 18px;
  text-align: left;
  font-family: sans-serif;
  width: 98.5%;
  padding: 5px 0 10px 0;
}

.Schedule--not-currently {
  color: white;
}

@media (min-width: 750px) {
  .Schedule--container {
    margin: 20px auto;
    width: 75%;
  }
}
