.BasicInfo--container {
  height: 100vh;
  width: 95vw;
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

.BasicInfo--header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}

.BasicInfo--event-title {
  font-size: 5vw;
  margin: 20px;
}

label {
  text-align: left;
  font-weight: bold;
}

.BasicInfo--staff-and-notes {
  display: flex;
}

.BasicInfo--staff-and-notes > * {
  width: 50%
}

.BasicInfo--button {
  padding: 10px;
  position: absolute;
}

.close {
  right: 8%;
}

.edit {
  right: 1.5%;
}

.BasicInfo--button:hover {
  cursor: pointer;
}
