.BasicInfo--container {
  height: 100vh;
  overflow: auto;
  min-height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.BasicInfo--header {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 85% 5% auto;
  border-bottom: 1px solid black;
  padding: 10px;
  margin: 0 10px;
  min-height: 90px;
  max-height: 90px;
}

.BasicInfo--event-status {
  grid-column: 2 / span 1;
}

.BasicInfo--event-title, .BasicInfo--event-summary {
  grid-column: 1 / span 1;
  justify-self: start;
}

.BasicInfo--event-summary{
  font-size: 60px;
  width: 100%;
  border: none;
  padding: 0;
}

@media (min-width: 600px) {
  .BasicInfo--event-title, .BasicInfo--event-summary {
    font-size: 35px;
  }

  .BasicInfo--header {
    grid-template-columns: 75% 15% auto;
  }
}

label {
  text-align: left;
  font-weight: bold;
  padding: 10px 0;
}

.BasicInfo--staff-and-notes {
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  min-height: 300px;
  max-height: 500px;
  padding: 0 30px 30px 30px;
  margin: 0 20px 20px 20px;
}

.BasicInfo--notes-container, .BasicInfo--staff-container{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.BasicInfo--notes, .BasicInfo--notes-readonly {
  padding: 5px 0;
  border-radius: 5px;
  font-size: 1em;
  height: 100%;
  width: 100%;
  resize: none;
  overflow: auto;
  align-self: center;
}

.BasicInfo--notes {
  border: 1px solid lightgray;
}

.BasicInfo--notes-readonly {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.BasicInfo--notes-readonly:focus {
  outline: none
}

.BasicInfo--buttons {
  grid-column: 3 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
}

.BasicInfo--button {
  padding: 10px;
}

.left {
  right: 8%;
}

.right {
  right: 1.5%;
}

.BasicInfo--button:hover, .BasicInfo--event-status:hover {
  cursor: pointer;
}
