.DateSelector {
  position: relative;
  padding: 0 10px;
}

.DateSelector--container {
  position: absolute;
  top: 101%;
  left: -4%;
  z-index: 99999 !important;
}

.DateSelector--container:focus {
  border: 2px solid blue;
}
