.Staff--container {
  align-self: flex-start;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.Staff--none {
  color: red;
  font-size: 20px;
}

.Staff--worker-name {
  font-size: 20px;
  grid-column: 2 / span 1;
}

/*------------------------Edit------------------- */

.Staff--Edit .Staff {
  height: 80%;
  width: 100%;
  padding: 5px;
  border-spacing: 5px;
  background-color: #F8F8F8;
  border-radius: 5px;
}

.Staff--Edit .Staff--worker {
  width: 100%;
  background-color: var(--light-gray);
}

.Staff--Edit .Staff--worker > * {
  border-radius: 5px;
  border: 3px solid var(--light-gray);
}

.Staff--Edit .Staff--worker * {
  max-height: 22px;
}

.Staff--Edit .Staff--icon-head {
  width: 5px;
}

.Staff--Edit .Staff--icon {
  width: 5px;
}

.Staff--Edit .Staff--search {
  padding: 0;
}

.svg-inline--fa.fa-w-16 {
  width: auto;
}

@media (min-width: 750px) {
  .Staff--Edit .Staff {
    height: auto;
    padding: 0;
    background-color: inherit;
  }

  .Staff--Edit .Staff--worker-name {
    font-size: 20px;
  }

  .Staff--Edit .Staff--icon-head {
    width: 5px;
    padding: 5px;
  }

  .Staff--Edit .Staff--icon {
    width: 5px;
    padding: 7.5px;
  }

  .Staff--Edit .Staff--worker > * {
    border-radius: 5px;
    border: .5px solid #bbbbbb;
  }
}

/*----------------View-------------------- */

.Staff--View .Staff--worker {
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  grid-gap: 5px;
}

.Staff--View .Staff--worker > * {
  color: #F8F8F8;
}

.Staff--View .Staff {
  height: 100%;
  width: 100%;
  display: grid;
  grid-gap: 10px;
}

.Staff--View .Staff--worker {
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  grid-gap: 5px;
}

.Staff--View .Staff--worker-name {
  text-align: left;
}

.Staff--View .Staff--worker-status {
  grid-column: 1 / span 1;
}

@media (min-width: 750px) {
  .Staff--View .Staff--container {
    height: 100%;
  }

  .Staff--View .Staff {
    height: auto;
  }

  .Staff--View .Staff--worker {
    height: 100%;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    grid-gap: 5px;
  }

  .Staff--View .Staff--worker-name {
    color: black;
    font-size: 20px;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }

  .Staff--View .Staff--worker-status {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
}

/* ------------Media Queries--------------- */

@media (min-width: 750px) {
  .Staff--container {
    align-self: center;
    padding: 0 30px 30px 30px;
    justify-content: inherit;
  }

  .Staff--worker {
    background-color: inherit;
  }

  .Staff--worker-name {
    font-size: 25px;
  }
}
