.Staff--container {
  align-self: flex-start;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Staff--none {
  color: red;
  font-size: 20px;
}

.Staff--worker-name {
  font-size: 20px;
}

/*------------------------Edit------------------- */

.Staff--Edit .Staff {
  height: 80%;
  width: 100%;
  padding: 5px;
  border-spacing: 5px;
  background-color: #eeeeee;
  border-radius: 5px;
}

.Staff--Edit .Staff--worker {
  width: 100%;
  background-color: var(--light-gray);
}

.Staff--Edit .Staff--worker > * {
  border-radius: 5px;
  border: 3px solid var(--light-gray);
}

.Staff--Edit .Staff--worker * {
  max-height: 30px;
}

.Staff--Edit .Staff--icon-head {
  width: 5px;
}

.Staff--Edit .Staff--icon {
  width: 5px;
}

.Staff--Edit .Staff--search {
  padding: 0;
}

@media (min-width: 750px) {
  .Staff--Edit .Staff {
    height: auto;
    padding: 0;
    background-color: inherit;
  }

  .Staff--Edit .Staff--worker-name {
    font-size: 20px;
  }

  .Staff--Edit .Staff--icon-head {
    width: 5px;
    padding: 5px;
  }

  .Staff--Edit .Staff--icon {
    width: 5px;
    padding: 7.5px;
  }

  .Staff--Edit .Staff--worker > * {
    border-radius: 5px;
    border: none;
  }
}

/*----------------View-------------------- */

.Staff--View .Staff--worker {
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  grid-gap: 5px;
}

.Staff--View .Staff--worker > * {
  color: #eeeeee;
}

.Staff--View .Staff {
  height: 100%;
  width: 100%;
  display: grid;
  grid-gap: 10px;
}

.Staff--View .Staff--worker {
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  grid-gap: 5px;
}

.Staff--View .Staff--worker-name {
  text-align: left;
}

/* ------------Media Queries--------------- */

@media (min-width: 750px) {
  .Staff--container {
    padding: 0 30px 30px 30px;
    display: grid;
    height: auto;
    justify-content: inherit;
  }

  .Staff--worker {
    background-color: inherit;
  }

  .Staff--worker-name {
    font-size: 25px;
  }
}
