.Staff--container {
  max-height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}


.Staff {
 width: 100%;
 height: auto;
 display: grid;
 grid-gap: 15px;
}

.Staff--worker {
  border: 2px solid black;
  padding: 5px;
  width: 90%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 50px auto 50px;
}
