.List {
  width: 100%;
  max-width: 1000px;
  overflow: auto;
  overscroll-behavior-y: contain;
  background-color: transparent;
}

.Headers {
  padding: 5px 0 5px 5px;
  height: 35px;
  position: sticky;
  top: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  align-items: center;
  justify-items: center;
  background-color: var(--dark-gray);
  color: var(--light-gray);
}

.List--Loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: var(--white);
}

.List--None-Found {
  height: 100%;
  color: var(--white);
  display: grid;
  justify-content: center;
  padding: 20px;
}
