.wrapper {
  justify-self: end;
  width: 65px;
  height: 65px;
  margin: 7.5px;
}

.bars {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  transition: all 250ms ease;
}

.bars div {
  height: 5px;
  width: 100%;
  background-color: #eeeeee;
  transition: all 250ms ease;
}

.bars .first {
  top: 25px;
}

.bars .second {
  top: 45px;
}

.bars .third {
  top: 65px;
}
