.Invoice--title {
  grid-row: 2 / span 1;
}

.Invoice--status {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.Invoice--client-date {
  color: black;
}

@media (min-width: 500px) {
  .Invoice--status {
    grid-column: auto;
    grid-row: auto;
  }
}
