.CollectionPage {
  display: grid;
  height: 100%;
}

@media (min-width: 1000px) {
  .CollectionPage {
    grid-template-columns: auto 1fr;
  }
}

/* -----------------Aside---------------- */

.CollectionPage > aside {
  display: none;
}

@media (min-width: 1000px) {
  .CollectionPage > aside {
    min-width: 350px;
    display: block;
    height: 100%;
    background-color: var(--dark-gray);
  }
}

/* -----------------Main---------------- */

.CollectionPage > main {
  display: grid;
  grid-template-rows: 40px auto 40px;
  align-content: start;
  background-color: var(--dark-blue);
}

@media (min-width: 1000px) {
  .CollectionPage > main {
    grid-column: 2 / span 1;
  }
}

.CollectionPage--category-title-container {
  display: flex;
  position: sticky;
  top: 75px;
  justify-content: center;
  align-items: center;
  grid-row: 1 / span 1;
  background-color: var(--dark-blue);
  color: var(--white);
}

.CollectionPage--category-title {
  font-weight: 400;
  padding: 5px 0;
  text-shadow: 0 4px 10px black;
}

.CollectionPage--list {
  grid-row: 2 / span 1;
  width: 100%;
  max-height: calc(100vh - 155px - var(--mobile-adj));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: 500px) {
  .CollectionPage--list {
    padding: 0 40px;
    max-height: calc(100vh - 155px);
  }
}

.CollectionPage--end-message {
  height: 100%;
  padding: 0 20px;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-blue);
  color: var(--white);
  grid-row: 3 / span 1;
}

.CollectionPage--end-message > h4 {
  text-shadow: 0 4px 10px black;
}

.CollectionPage--end-message > div {
  padding: 0 20px 20px;
}
