.Notes--container {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
}

.Notes, .Notes--readonly {
  border: none;
  align-self: center;
  height: 100%;
  width: 100%;
  padding: 15px;
  font-size: 1em;
  border-radius: 5px;
  resize: none;
}

.Notes {
  color: black;
  background-color: #eeeeee;
  min-height: 100px;
}

.Notes--readonly {
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
  color: var(--light-gray);
}

.Notes-readonly:focus {
  outline: none
}

@media (min-width: 750px) {
  .Notes--container {
    width: 100%;
    height: 100%;
    padding: 0 30px 30px 30px;
    grid-template-rows: 30px auto
  }

  .Notes {
    min-height: 300px;
    overflow: auto;
  }

  .Notes, .Notes--readonly {
    color: black;
    padding: 5px;
  }

  .Notes--readonly {
    font-size: 20px;
  }
}
