.InvoiceDetail-header {
  position: -webkit-sticky;
  position: sticky;
  top: 75px;
  z-index: 5;
  display: grid;
  justify-items: center;
  align-items: center;
  height: 75px;
  width: 100%;
  background: var(--darker-blue);
  color: var(--light-gray);
}

@media (min-width: 750px) {
  .InvoiceDetail-header {
    height: auto;
    top: 0;
    grid-gap: 5px;
    grid-auto-flow: column;
    grid-template-columns: 250px auto 250px;
    padding: 10px;
  }
}

.InvoiceDetail-header--title {
  text-align: center;
  display: grid;
  text-shadow: 0 2px 10px black;
}

.InvoiceDetail-header--client {
  font-weight: 400;
  text-align: center;
}

.InvoiceDetail-header--client-date-seperator {
  border-left: 1px solid var(--light-gray);
  margin: 0 15px;
}

.InvoiceDetail-header--date {
  font-weight: 400;
  text-align: center;
}

@media (min-width: 750px) {
  .InvoiceDetail-header--title {
    display: flex;
    text-align: left;
    grid-column: 2 / span 1;
  }

  .InvoiceDetail-header--date {
    font-weight: 300;
  }
}

.InvoiceDetail-header--view-job {
  text-shadow: 0 2px 10px black;
}

.InvoiceDetail-header--view-job > a > h2:hover {
  color: white;
}

.InvoiceDetail-header--right {
  display: none;
}

@media (min-width: 750px) {
  .InvoiceDetail-header--right {
    grid-column: 3 / span 1;
    justify-self: end;
    display: grid;
    grid-gap: 10px;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    height: 100%;
  }
}

.InvoiceDetail-header--icons {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
}

.InvoiceDetail-header--icon {
  padding: 10px;
}

.InvoiceDetail-header--icon:hover {
  cursor: pointer;
}

.left {
  right: 8%;
}

.right {
  right: 1.5%;
}

.InvoiceDetail-header--button:hover  {
  cursor: pointer;
}

@media (min-width: 750px) {
  .InvoiceDetail-header--buttons {
    display: flex;
  }
}
