.InvoiceDetail-header--container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--med-dark-blue);
  color: var(--light-gray);
}

.InvoiceDetail-header {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  margin: 0 40px;
}

.InvoiceDetail-header--right {
  display: none;
}

.InvoiceDetail-header--name {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  justify-self: start;
  width: 100%;
  grid-column: 1 / span 2;
}

.InvoiceDetail-header--icons {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
}

.InvoiceDetail-header--icon {
  padding: 10px;
}

.InvoiceDetail-header--icon:hover {
  cursor: pointer;
}

.left {
  right: 8%;
}

.right {
  right: 1.5%;
}

.InvoiceDetail-header--button:hover  {
  cursor: pointer;
}

@media (min-width: 750px) {
  .InvoiceDetail-header {
    height: auto;
    background-color: inherit;
    color: inherit;
    justify-items: center;
    grid-gap: 5px;
    grid-auto-flow: column;
    grid-template-columns: auto 100px 100px;
    border-bottom: 1px solid var(--light-gray);
    padding: 10px;
  }

  .InvoiceDetail-header--name {
    display: flex;
    font-size: 25px;
    text-align: left;
    grid-column: 1 / span 1;
  }

  .InvoiceDetail-header--right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    justify-self: end;
    grid-column: 3 / span 1;
  }

  .InvoiceDetail-header--buttons {
    display: flex;
  }
}
