.StaffSelector {
  width: 100%;
  display: grid;
  justify-items: center;
  grid-gap: 20px;
  padding: 20px;
  justify-content: center;
  align-content: center;
}

.StaffSelector--labor, .StaffSelector--non-labor {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  align-content: start;
  grid-gap: 10px;
}

.StaffSelector--employee {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  background: inherit;
}

.StaffSelector--employee > p {
  font-weight: 400;
}

.StaffSelector--employee:hover {
  cursor: pointer;
}

.StaffSelector--done {
  width: 125px;
  height: 40px;
  background-color: inherit;
  color: var(--med-dark-blue);
  font-weight: bold;
  border: 3px solid var(--med-dark-blue);
  border-radius: 5px;
  position: absolute;
  left: 50%;
  bottom: 0%;
  margin-left: -62.5px;
  margin-bottom: 20px;
}

.StaffSelector--done:hover {
  background-color: var(--med-dark-blue);
  color: #eeeeee;
}
