.AddNew--container {
  border-bottom: 5px solid transparent;
  border-radius: 5px;
}

.AddNew--container:active {
  border: none;
}

.AddNew {
  background-color: limegreen;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 5px;
}

.AddNew > * {
  padding: 0 5px;
}

.AddNew:hover {
  cursor: pointer;
  background: rgb(50,235,75)
}

.AddNew:active {

}

.AddNew--button-text {
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: bold;
  /* text-transform: uppercase; */
  color: white;
}

.AddNew--button-icon {
  position: absolute;
  height: 100%;
  right: 0%;
  margin: 0 10px;
  color: white;
}
