.AddNew {
  background-color: limegreen;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 5px;
}

.AddNew:active {
  transform: scale(0.99);
}

@media (min-width: 750px) {
  .AddNew {
    height: 45px;
  }
}

.AddNew > * {
  padding: 0 5px;
}

.AddNew:hover {
  cursor: pointer;
  background: rgb(50,235,75)
}

.AddNew--button-text {
  font-weight: bold;
  color: white;
}

.AddNew--button-icon {
  position: absolute;
  height: 100%;
  right: 0%;
  margin: 0 10px;
  color: white;
}
