.CreateClient {
  display: grid;
  grid: auto 1fr auto / auto;
}

.CreateClient--header {
  height: 75px;
  background-color: var(--darker-blue);
  color: var(--white);
  display: grid;
  grid-auto-flow: column;
  grid: auto / 1fr auto 1fr;
  justify-items: center;
  align-items: center;
}

@media (min-width: 750px) {
  .CreateClient--header {
    grid: auto / auto;
  }
}

.CreateClient--back-button {
  justify-self: start;
  padding: 5px 10px;
  border: 1px solid var(--white);
  color: var(--white);
  border-radius: 2.5px;
  margin-left: 10px;
}

.CreateClient--content {
  padding: 20px;
  display: grid;
  grid-gap: 10px;
  justify-content: center;
  align-content: center;
}

.CreateClient--opening {
  display: grid;
  grid-gap: 20px;
}

.CreateClient--opening > div {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
}

.CreateClient--opening > div > button {
  padding: 20px 50px;
  border: 2px solid black;
  border-radius: 5px;
}

.CreateClient--choose {
  display: grid;
  grid-gap: 60px;
  align-content: center;
}

@media (min-width: 750px) {
  .CreateClient--choose {
    min-width: 700px;
  }
}

.CreateClient--choose-existing {
  display: grid;
  grid-gap: 30px;
  align-items: center;
}

.CreateClient--choose-existing > div {
  display: grid;
  grid-gap: 30px;
}

.CreateClient--choose-existing-dialog {
  display: grid;
  grid-gap: 10px;
}

.CreateClient--choose-existing-contacts {
  display: grid;
  grid-gap: 10px;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr))
}

.CreateClient--skip {
  display: grid;
  align-items: center;
  justify-items: center;
}

@media (min-width: 750px) {
  .CreateClient--choose-existing-contacts {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
  }
}

.CreateClient--choose-existing-contacts > button,
.CreateClient--skip > button {
  display: grid;
  justify-items: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  height: 60px;
  width: 100%;
}

@media (min-width: 750px) {
  .CreateClient--choose-existing-contacts > button,
  .CreateClient--skip > button {
    width: 200px;
  }
}

.CreateClient--choose-existing-contacts > button:hover
.CreateClient--skip > button:hover {
  cursor: pointer;
}

.CreateClient--divider {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
}

.CreateClient--divider > div {
  border: 1px solid black;
  width: 100%;
}

.CreateClient--footer {
  display: grid;
  justify-content: center;
  padding-bottom: 20px;
}

.CreateClient--button {
  padding: 20px 40px;
  border-radius: 5px;
  border: 2px solid black;
}
