.BasicInfo--header {
  /* position: -webkit-sticky; /* Safari */
  /* position: sticky; */
  /* top: 0; */
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: var(--dark-blue);
  color: var(--light-gray);
  z-index: 5;
}

.BasicInfo--header-right {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  justify-self: end;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.BasicInfo--event-title-container {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BasicInfo--event-title, .BasicInfo--event-summary {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  justify-self: start;
}

.BasicInfo--event-summary {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

input, .BasicInfo--event-summary {
  background-color: #F8F8F8;
}

.BasicInfo--event-status {
  display: none;
  /* position: absolute;
  top: 1%;
  left: 0%; */
}

.BasicInfo--icons {
  grid-column: 3 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
}

.BasicInfo--icon {
  padding: 10px;
}

.BasicInfo--icon:hover {
  cursor: pointer;
}

.left {
  right: 8%;
}

.right {
  right: 1.5%;
}

.BasicInfo--button:hover, .BasicInfo--event-status:hover {
  cursor: pointer;
}

@media (min-width: 600px) {
  .BasicInfo--event-title, .BasicInfo--event-summary {
    font-size: 35px;
  }
}

@media (min-width: 750px) {
  .BasicInfo--header {
    height: auto;
    width: 95%;
    background-color: inherit;
    color: inherit;
    justify-items: left;
    grid-gap: 5px;
    grid-template-columns: auto 100px;
    grid-template-rows: repeat(2, auto);
    border-bottom: 1px solid black;
    padding: 10px;
  }

  .BasicInfo--event-status {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 130px;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  .BasicInfo--event-title-container {
    height: auto;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .BasicInfo--event-title, .BasicInfo--event-summary {
    font-size: 40px;
    text-align: left;
  }

  .BasicInfo--header-right {
    display: flex;
  }

  .BasicInfo--buttons {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .BasicInfo--event-title, .BasicInfo--event-summary {
    font-size: 60px;
  }
}
