/* Mobile Styles */

.Event--title {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 10px 20px;
  grid: auto 1fr / auto ;
  grid-row-gap: 5px;
}
.Event--confirmation,
.Event--scheduled,
.Event--scheduled-details {
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}

.Event--scheduled-details {
  flex-direction: column;
}

.Event--summary {
  justify-self: start;
  grid-column: 1 / span 2;
}

.Event--summary > h4 {
  font-weight: 700;
}

@media (min-width: 750px) {
  .Event--summary > h4 {
    font-size: 1.2em;
  }
}

.Event--time {
  grid-column: auto;
  grid-row: auto;
  justify-self: start;
  align-self: stretch;
  display: grid;
  align-items: start;
  padding: 0;
}

.Event--time > p {
  text-align: left;
}

.Event--next-event-triangle {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border: 5px solid transparent;
  border-top-color: red;
  border-left-color: red;
}

.Event--scheduled {
  padding: 2.5px 5px;
  display: grid;
}

.Event--scheduled-workers {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 25px);
  justify-items: center;
  align-items: center;
  justify-content: center;
  grid-gap: 2.5px;
}

.Event--scheduled-worker {
  border-radius: 100%;
  background-color: black;
  display: grid;
  justify-content: center;
  align-content: center;
  color: white;
  height: 25px;
  width: 25px;
}

.Event--scheduled-worker > p {
  font-size: 11px;
  font-weight: 700;
}

.Event--confirmation > p {
  font-weight: bold;
}


/* ------------------------------------------------------------------------- */
