/* Mobile Styles */
.Event--confirmation {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Event--scheduled {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Event--scheduled-details {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Event--summary {
  justify-self: start;
  grid-column: 1 / span 2;
  padding: 2px;
}

.Event--summary > h4 {
  font-size: 15px;
  font-weight: 700;
}

@media (min-width: 750px) {
  .Event--summary > h4 {
    font-size: 15px;
  }
}

.Event--time {
  justify-self: end;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  padding-right: 10px;
  display: grid;
  align-items: center;
}

.Event--time > p {
  text-align: right;
}

.Event--next-event-triangle {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border: 5px solid transparent;
  border-top-color: red;
  border-left-color: red;
}


/* ------------------------------------------------------------------------- */
