/* Mobile Styles */
.Event--confirmation,
.Event--scheduled,
.Event--scheduled-details {
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}

.Event--scheduled-details {
  flex-direction: column;
}

.Event--summary {
  justify-self: start;
  grid-column: 1 / span 2;
  padding: 2px;
}

.Event--summary > h4 {
  font-weight: 700;
}

@media (min-width: 750px) {
  .Event--summary {
    justify-self: start;
    align-self: start;
    grid-column: 1 / auto;
  }
}

.Event--time {
  justify-self: end;
  align-self: start;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  padding-right: 10px;
  display: grid;
  align-items: center;
}

.Event--time > p {
  text-align: right;
}

@media (min-width: 750px) {
  .Event--time {
    justify-self: start;
    grid-column: auto;
    grid-row: auto;
    padding: 0;
    align-content: center;
  }

  .Event--time > p {
    text-align: left;
  }
}

.Event--next-event-triangle {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border: 5px solid transparent;
  border-top-color: red;
  border-left-color: red;
}


/* ------------------------------------------------------------------------- */
