.Schedule--container {
  display: none;
  background-color: rgba(0,0,0,.88);
  margin: 20px auto;
  border-radius: 10px;
  width: 95%;
}

.Schedule--title {
  color: white;
  margin: 2px auto;
  font-size: 32px;
  font-family: 'Josefin Slab', sans-serif;
  width: 98.5%;
  border-bottom: 1px solid white;
  padding: 5px 0 10px 0;
}

.Schedule--not-currently {
  color: white;
}
