.schedule--container {
  margin: 20px auto;
  border: 1px solid black;
  border-radius: 10px;
  width: 80vw;
}

.schedule--title {
  margin: 0 auto;
  font-size: 32px;
  width: 98.5%;
  border-bottom: 1px solid black;
  padding: 5px 0 10px 0;
}
