.Buttons {
  /* grid-row: 3 / span 1; */
  align-self: end;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-gap: 20px;
  width: 100%;
  padding: 28px 20px 20px 20px;
  background-color: var(--dark-gray);
}

.Button {
  display: grid;
  grid-auto-flow: column;
  grid: auto / 15% 70% 15%;
  grid-template-areas: '. name icon';
  justify-items: center;
  align-items: center;
  height: 55px;
  width: 100%;
  background: #111111;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: white;
}

.Button--text {
  grid-area: name;
}

.Button--icon {
  grid-area: icon;
}

.Submit {
  border: 2px solid limegreen;
  color: limegreen;
  background-color: inherit;
}

.Submit:active, .Submit:hover {
  background-color: limegreen;
  color: white;
}

.Delete {
  border: 2px solid red;
  color: red;
  background-color: inherit;
}

.Delete:active, .Delete:hover {
  background-color: red;
  color: white;
}
