.Buttons {
  /* grid-row: 3 / span 1; */
  align-self: end;
  display: grid;
  grid-gap: 10px;
  width: 100%;
  padding: 5px 20px 20px 20px;
  background-color: transparent;
}

.Button {
  display: grid;
  grid-auto-flow: column;
  grid: auto / 15% 70% 15%;
  grid-template-areas: '. name icon';
  justify-items: center;
  align-items: center;
  height: 60px;
  width: 100%;
  background: #111111;
  border: none;
  border-radius: 5px;
  color: white;
}

.Button:hover {
  cursor: pointer;
}

.Button--text {
  grid-area: name;
}

.Button--text > p {
  font-weight: 700;
}

.Button--icon {
  grid-area: icon;
}

.Submit {
  color: white;
  background-color: limegreen;
}

.Submit:active, .Submit:hover {
  background: rgb(50,235,75);
}

.Delete {
  border: 2px solid red;
  color: red;
  background-color: inherit;
}

.Delete:active, .Delete:hover {
  background-color: red;
  color: white;
}
