.Staff--active,
.Staff--labor,
.Staff--active > div,
.Staff--labor > div {
  display: grid;
  height: 100%;
  width: 100%;
  justify-items: center;
  align-items: center;
}

.Staff--active > div,
.Staff--labor > div {
  font-weight: 700;
}
