.ListPage {
  height: 100%;
  display: grid;
  grid-template-columns:  25% 75%;
  align-items: flex-start;
  overflow: hidden;
}

main {
  height: 100%;
  width: 100%;
  grid-column: 2 / span 1;
  background-color: var(--med-dark-blue);
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 40px auto 40px;
}

@media (max-width: 1000px) {
  main {
    grid-column: 1 / span 2;
  }
}

.ListPage--category-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--med-dark-blue);
  color: var(--light-gray);
  grid-row: 1 / span 1;
}

.ListPage--category-title {
  font-size: 28px;
  font-family: 'Josefin Slab', serif;
  padding: 5px 0;
}

.ListPage--list {
  grid-row: 2 / span 1;
  padding: 0 40px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ListPage--end-message {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eeeeee;
  grid-row: 3 / span 1;
}

/* -----------------Aside---------------- */

aside {
  height: 100%;
  grid-column: 1 / span 1;
  background-color: #222222;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 100px 35px 120px 240px 80px auto;
  padding: 0 20px;
}

@media (max-width: 1000px) {
  aside {
    display:none
  }
}

.ListPage--name {
  color: var(--turquoise);
  font-size: 60px;
  font-family: 'Rokkitt', serif;
}

.ListPage--name:hover {
  cursor: pointer
}

.ListPage--categories-container {
  width: 100%;
  grid-row: 3 / span 1;
  display: grid;
  grid: auto / repeat(3, auto);
  justify-items: center;
  align-items: center;
  align-self: end;
}

.ListPage--categories {
  display: grid;
  grid-column: 2 / span 1;
  grid: repeat(2, 1fr) / repeat(2, 1fr);
  align-items: center;
  width: 225px;
  padding-bottom: 5px;
}

.ListPage--categories > div {
  border: 1.5px solid transparent;
  color: var(--light-gray);
  font-size: 18px;
  text-align: center;
  width: 100%;
  padding: 10px;
  transition: all 250ms ease-out;
}

.ListPage--categories > div:hover {
  color: white;
  cursor: pointer;
  border-color: var(--light-gray);
}
