.ListPage {
  height: 100%;
  display: grid;
  overflow: hidden;
}

@media (min-width: 1000px) {
  .ListPage {
    grid-template-columns:  25% 75%;
    align-items: flex-start;
  }
}

/* -----------------Aside---------------- */

aside {
  display: none;
}

@media (min-width: 1000px) {
  aside {
    display: block;
    padding: 10px 10px 40px 10px;
    height: 100%;
    background-color: #222222;
  }
}

@media (min-width: 1200px) {
  aside {
    padding: 10px 40px 40px 40px;
  }
}

/* -----------------Main---------------- */

.ListPage > main {
  height: 100%;
  width: 100%;
  background-color: var(--dark-blue);
  display: grid;
  grid-template-rows: 40px auto 40px;
  align-content: start;
}

@media (min-width: 1000px) {
  .ListPage > main {
    grid-column: 2 / span 1;
  }
}

.ListPage--category-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-blue);
  color: var(--light-gray);
  grid-row: 1 / span 1;
}

.ListPage--category-title {
  font-size: 20px;
  font-weight: 400;
  padding: 5px 0;
  text-shadow: 0 4px 10px black;
}

.ListPage--list {
  grid-row: 2 / span 1;
  width: 100%;
  height: calc(100vh - 155px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: 500px) {
  .ListPage--list {
    padding: 0 40px;
  }
}

@media (min-width: 1000px) {
  .ListPage--list {
    height: calc(100vh - 155px);
  }
}

.ListPage--end-message {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eeeeee;
  grid-row: 3 / span 1;
}
