.ListPage--container {
  height: calc(100vh - 75px);
  display: grid;
  grid-template-columns:  25% 75%;
  align-items: flex-start;
}

main {
  height: 100%;
  grid-column: 2 / span 1;
  background-color: var(--light-gray)
}

@media (max-width: 1000px) {
  main {
    grid-column: 1 / span 2;
  }
}

/* -----------------Aside---------------- */

aside {
  height: 100%;
  grid-column: 1 / span 1;
  background-color: rgba(0,0,0,.88);
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside > h2 {
  margin: 10px 0;
}

@media (max-width: 1000px) {
  aside {
    display:none
  }
}

.ListPage--name {
  color: var(--turquoise);
  font-size: 60px;
  font-family: 'Rokkitt', serif;
}

.ListPage--name:hover {
  cursor: pointer
}

.ListPage--category-title {
  font-size: 28px;
  font-family: 'Josefin Slab', serif;
  background-color: var(--med-dark-blue);
  color: var(--light-gray);
  padding: 5px 0;
}

.ListPage--categories {
  border-top: 1px solid var(--light-gray);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 88%;
}

.ListPage--categories > div {
  border-bottom: 1px solid var(--light-gray);
  font-size: 18px;
  color: var(--light-gray);
  text-align: center;
  width: 100%;
  padding: 15px;
}

.ListPage--categories > div:hover {
  color: white;
  cursor: pointer;
  border-left: 1px solid var(--light-gray);
  border-right: 1px solid var(--light-gray);
}

.ListPage--button, .create {
  background-color: var(--med-dark-blue);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 88%;
  margin: 20px auto;
  border-bottom: 5px solid var(--dark-blue);
  border-radius: 5px;
  padding: 5px;
}

.ListPage--button > * {
  padding: 0 5px;
}

.ListPage--button:hover {
  cursor: pointer;
}

.ListPage--button:active {
  border: none;
  background-color: var(--dark-blue);
}

.button-text {
  font-family: 'Gruppo';
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.button-icon {
  position: absolute;
  height: 100%;
  right: 0%;
  margin: 0 10px;
  color: white;
}


/* ------------------------Modal---------------------------- */

.ListPage--modal, .ListPage--modal:active {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  height: 50%;
  min-height: 300px;
  max-height: 500px;
  width: 50%;
  min-width: 300px;
  max-width: 500px;
  background-color: #DADBE0;
  border-radius: 10px;
  outline: none;
}

.ListPage--modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0,0,0,.75)
}
