.ListPage--container {
  height: calc(100vh - 75px);
  display: grid;
  grid-template-columns:  25% 75%;
  align-items: flex-start;
}

.ListPage--name {
  color: rgba(0, 175, 215, 1);
  font-size: 60px;
  font-family: 'Rokkitt', serif;
}

.ListPage--category-title {
  font-size: 28px;
  font-family: 'Josefin Slab', serif;
  background-color: rgba(0, 125, 180, .6);
  padding: 5px 0;
}

.ListPage--categories {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.ListPage--categories > div {
  border-bottom: 1px solid white;
  font-size: 18px;
  color: white;
  text-align: center;
  width: 88%;
  padding: 5px;
  margin: 3px 0;
}

.ListPage--categories > div:hover {
  color: rgba(0, 175, 215, 1);
  cursor: pointer;
}

.ListPage--button, .create {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  margin: 20px auto;
  border: 2px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}

.ListPage--button > * {
  padding: 0 5px;
}

.ListPage--button:hover {
  cursor: pointer;
  border-color: cyan;
  color: cyan
}

.button-text {
  color: black;
}

main {
  height: 100%;
  grid-column: 2 / span 1;
}

aside {
  height: 100%;
  grid-column: 1 / span 1;
  background-color: rgba(0,0,0,.88);
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside > h2 {
  margin: 10px 0;
}

@media (max-width: 1000px) {
  aside {
    display:none
  }

  main {
    grid-column: 1 / span 2;
  }
}
