.Dashboard {
  height: calc(100vh - 150px);
  width: 100vw;
  display: grid;
  justify-items: center;
  align-items: start;
  background-color: #222222;
}

.Dashboard--intro {
  font-size: 35px;
  font-family: 'Rokkitt', serif;
  min-width: 50%;
  justify-self: center;
  align-self: center;
  color: white;
  border-bottom: 1px solid white;
}

@media (min-width: 700px) {
  .Dashboard--intro {
    font-size: 50px;
  }
}

@media (min-width: 1000px) {
  .Dashboard {
    height: calc(100vh - 75px)
  }

  .Dashboard--intro {
    font-size: 60px;
  }
}
