.Dashboard {
  height: calc(100vh - 75px);
  display: grid;
  justify-items: center;
  align-items: start;
  background-color: var(--dark-gray);
  color: white;
}

.Dashboard--intro {
  min-width: 50%;
  justify-self: center;
  align-self: center;
}
