.Dashboard {
  height: calc(100vh - 75px);
  background-color: var(--dark-gray);
  display: grid;
  grid-gap: 10px;
  align-content: start;
  padding-top: 37.5px;
  color: white;
}

.Dashboard--intro {
  font-size: 40px;
}
