.Line > :first-child {}

.Line > :last-child {}

.Line > td {
  background: var(--light-gray);
}

.Line--add-delete {
  width: 50px;
  padding: 0 25px;
}

.Line--add-delete:hover {
  cursor: pointer;
}

.Line--input {
  width: 90%;
  padding: 10px 5px;
  background-color: white;
  text-align: center;
  border:none;
  border: 1px solid #BBBBBB;
  border-radius: 5px;
  /* box-shadow: 0 0 2px 2px transparent; */
  outline: none;
  font-size: 20px;
}

.Line--input:focus {
  border-color: transparent;
  box-shadow: 0 2px 0px 0px var(--turquoise-t);
}

/* --------------------Quantity-------------- */

.Line--quantity {
  width: 50px;
}

.Line--quantity > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Line--quantity > div > input {
  text-align: center;
}

.Line--quantity > p {
  padding: 5px 0;
}


/* --------------------Item-------------- */

.Line--item {
  font-size: 20px;
}

.Line--item-contents {
  padding: 5px 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.Line--item, .Invoice--header-item {
  text-align: left;
}

/* --------------------Price-------------- */

.Line--price, .Invoice--header-price {
  width: 100px;
  text-align: center;
}

.Line--price > form {
  margin-right: 17px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-items: center;
  font-size: 20px;
}

.Line--price > form > p {
  padding: 3px;
}

.Line--price > form > input {
  text-align: center;
  font-size: 20px;
}
