.Line > td {
  background: var(--light-gray);
}

.Line--add-delete > div {
  display: grid;
}

.Line--add-delete:hover {
  cursor: pointer;
}

.Line--input {
  width: 90%;
  padding: 10px 5px;
  background-color: #eee;
  text-align: center;
  border:none;
  border: 1px solid #BBBBBB;
  border-radius: 5px;
  /* box-shadow: 0 0 2px 2px transparent; */
  outline: none;
}

.Line--input:focus {
  background-color: #fff;
  border-color: transparent;
  box-shadow: 0 0 2px 2px var(--turquoise-t);
}

/* --------------------Quantity-------------- */

.Line--quantity > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Line--quantity > div > input {
  text-align: center;
  background-color: #eee;
}

.Line--quantity > div > input:focus {
  background-color: #fff;
}

.Line--quantity > p {
  padding: 5px 0;
}


/* --------------------Item-------------- */

.Line--item-contents {
  padding: 5px 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.Line--item, .Invoice--header-item {
  text-align: left;
}

/* --------------------Inc-------------- */

.Line--inc > div {
  display: grid;
  align-items: center;
  justify-items: center;
}

/* --------------------Price-------------- */

.Line--price > p {
  text-align: right;
}

.Line--price > form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, auto) 12px;
  align-items: center;
  justify-items: center;
}

.Line--price > form > p {
  padding: 3px;
}

.Line--price > form > input {
  text-align: center;
  background-color: #eee;
}

.Line--price > form > input:focus {
  background-color: #fff;
}
