.Staff--container {
  justify-self: stretch;
  align-self: stretch;
  display: grid;
  grid-gap: 5px;
  align-items: center;
  justify-items: start;
  overflow: auto;
  padding: 0 20px;
}

@media (min-width: 750px) {
  .Staff--container {
    align-items: stretch;
    justify-items: stretch;
    padding: 10px 20px;
  }
}

.Staff {
  display: grid;
  grid-gap: 10px;
  justify-items: start;
  align-items: center;
  padding: 0 10px;
}

@media (min-width: 750px) {
  .Staff {
    padding: 0;
    grid-gap: 15px;
    justify-items: start;
    grid: auto 1fr / auto;
  }
}

.Staff--workers {
  height: 100%;
  width: 100%;
  display: grid;
  justify-items: start;
  align-content: start;
  grid-gap: 2.5px;
}

.Staff--worker {
  align-self: start;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "name status";
  align-items: center;
  grid-gap: 10px;
}

@media (min-width: 750px) {
  .Staff--worker {
    background-color: inherit;
  }
}

.Staff--worker-name {
  grid-area: name;
  font-size: 20px;
  text-align: left;
}

@media (min-width: 750px) {
  .Staff--worker-name {
    border: none;
  }
}

.Staff--worker-status {
  grid-area: status;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}

.Staff--choose-workers {
  background-color: var(--darker-blue);
  color: white;
  border-radius: 5px;
  height: 60px;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}

.Staff--choose-workers:hover {
  cursor: pointer;
}
