header {
  height: 75px;
  display: grid;
  align-items: center;
  grid-template-columns: 20% 60% 20%;
  border-bottom: 3px solid black;
}

nav {
  justify-self: center;
  height: 100%;
  display: flex;
  align-items: center;
}

nav > * {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 5px;
}

nav > * :hover {
  border: 2px solid black;
}

.user-circle:hover, .logo:hover {
  cursor: pointer
}

.user-circle {
  justify-self: right;
  padding: 10px;
}
