header {
  height: 75px;
  min-width: 705px;
  display: grid;
  align-items: center;
  grid-template-columns: 20% 60% 20%;
  border-bottom: 3px solid black;
  background: black;
}

nav {
  justify-self: center;
  height: 33%;
  width: 100%;
  display: flex;
  align-items: center;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

nav > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid white;
  border-left: 1px solid white;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 0 5px;
}

nav > div > a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-family: 'Gruppo';
  font-weight: bold;
}

nav > div:hover, nav > div > a:hover{
  cursor: pointer;
  color: darkgray;
}

nav > div:active {
  background-color: lightgray;
}

.logo {
  width: 100px;
  height: 25px;
  padding: 10px;
}

.user-circle:hover, .logo:hover {
  cursor: pointer
}

.user-circle {
  justify-self: right;
  padding: 5px;
  background: white;
  border-radius: 100%;
  margin: 10px;
}

@media (max-width: 1200px) {
  nav > div > a {
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  nav > div > a {
    font-size: 16px;
  }
}

@media (min-width: 750px) {
  .logo {
    width: 140px;
    height: 33px;
  }
}
