header {
  height: 100%;
  width: 100%;
  position: sticky;
  top: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-auto-flow: column;
  background: #111111;
  z-index: 10;
}

@media (min-width: 1000px) {
  header {
    grid-template-columns: 170px auto 75px;
  }
}

/*-----------------Logo---------------- */
.logo {
  justify-self: start;
  width: 150px;
  height: 37px;
  margin-left: 15px;
}

/*-----------------DropDown-Nav-Menu---------------- */
.Header--drop-down {
  position: fixed;
  top: 75px;
  height: calc(100vh - 75px);
  display: grid;
  grid-gap: 20px;
  align-items: center;
  justify-items: center;
  width: 100vw;
  background: #111111;
  padding: 20px 10px;
  overflow: hidden;
  transition: all 500ms ease;
}

.Header--nav-menu {
  display: grid;
  width: 100%;
  grid-auto-flow: column;
  grid-gap: 15px;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
}

.Header--nav-menu > a {
  height: 100%;
  font-size: 22px;
  text-decoration: none;
  color: white;
}

.Header__bars {
  justify-self: end;
}

.Header__bars:hover {
  color: #dddddd;
  cursor: pointer;
}

.Header--Log-Out {
  display: none;
  grid-column: 1 / span 2;
  align-self: end;
  background: darkred;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid darkred;
  border-radius: 5px;
  width: 80%;
  height: 65px;
  margin: 25px;
}

@media (min-width: 1000px) {
  .Header--Bars {
    display: none;
  }
}

/*-----------------Traditional-Nav---------------- */

nav {
  grid-column: 2 / span 1;
  justify-self: end;
  grid-gap: 30px;
  padding-right: 10px;
  height: 100%;
  display: none;
  grid-auto-flow: column;
  align-items: center;
  border: 1px solid transparent;
}

nav > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  transition: all 250ms ease-out;
}

nav > * > h2 {
  color: var(--light-gray);
}

nav > * >:hover, nav > * > h3:hover{
  cursor: pointer;
}

nav > *:hover, nav > * > h3:hover {
  color: var(--turquoise);
}

nav > *:active, nav > * > h3:active {
  color: var(--turquoise);
}

.user-circle:hover, .logo:hover {
  cursor: pointer
}

.user-circle:hover {
  border-color: white;
}

.user-circle {
  height: 100%;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  grid-column: 3 / span 1;
  justify-self: center;
  transition: all 250ms ease-out;
  border: 1px solid transparent;
}

.user-photo {
  height: 70px;
  width: 70px;
  padding: 7.5px;
  border-radius: 100%;
}

@media (min-width: 1000px) {
  nav {
    display: grid;
  }

  .user-circle {
    display: flex;
  }
}

@media (max-width: 1200px) {
  nav > * > div {
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  nav > * > div {
    font-size: 16px;
  }
}
