.StaffModal {
  height: 450px;
  width: 85%;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  WebkitOverflowScrolling: touch;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.StaffModal--overlay {
  position: fixed;
  height: 100%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.88);
  z-index: 500;
}

.StaffModal--content {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
}

.StaffModal--close {
  position: absolute;
  top: 0%;
  right: 0%;
}
