.Invoice--container {
  align-self: start;
  width: 100%;
}

.Invoice {
  border-radius: 10px;
  width: 100%;
}

.Invoice table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
}

@media (min-width: 750px) {
  .Invoice--container {
    padding: 0 40px;
  }
}

@media (min-width: 1000px) {
  .Invoice--container {
    grid-area: invoice;
    padding: 40px 40px 0 25px ;
    height: 100%;
  }
}

/* ---------Header row-------------*/

.Invoice--header-row  {
  background: var(--dark-gray);
  height: 50px;
  width: 100%;
}

.Invoice--header-row > * {
  position: -webkit-sticky;
  position: sticky;
  top: 71px;
}

@media (min-width: 1000px) {
  .Invoice--header-row > * {
    top: 71px;
  }
}

.Invoice--header-cell {
  padding: 15px;
  background: var(--dark-gray);
  color: #eeeeee;
}

.Invoice--header-item {
  text-align: left;
}


/* -------Cells---------- */

.Invoice--cell {
  border-top: 1px solid var(--dark-gray);
  border-bottom: 1px solid #cccccc;
  background-color: #eeeeee;
  padding: 15px;
}

.Invoice--add {
  display: grid;
  grid: auto / 60px auto 60px;
  justify-items: center;
  align-items: center;
  background-color: limegreen;
  color: #eee;
  width: 100%;
  padding: 15px 0;
}

.Invoice--add:hover {
  cursor: pointer;
}
