.Event--confirmation {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Event--scheduled {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 22px auto;
  justify-items: center;
  align-items: start;
  border-radius: 5px;
}

.Event--scheduled-details {
  grid-row: 2 / span 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Event--summary {
  align-self: start;
  justify-self: start;
  grid-column: 1 / span 2;
  font-size: 20px;
  padding: 2px;
}

.Event--time {
  padding-right: 10px;
  justify-self: end;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
