.List-Item {
  position: relative;
  width: 100%;
  height: 85px;
  display: grid;
  grid-auto-columns: 1fr;
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid var(--white);
  background-color: var(--light-gray);
  overflow: hidden;
}

@media (min-width: 500px) {
  .List-Item {
    grid-auto-flow: column;
    background-color: var(--light-gray);
    color: black;
  }
}

.List-Item--Cell {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-items: center;
}
