.List-Item {
  height: 85px;
  display: grid;
  grid-auto-flow: column;
  border-bottom: 1px solid var(--white);
  background-color: var(--light-gray);
  overflow: hidden;
}

.List-Item--Cell {
  height: 100%;
  width: 100%;
}
