.List-Item {
  width: 100%;
  height: 85px;
  border-bottom: 1px solid lightgray;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 5px 0 lightgray;
}

.List-Item--description {
  font-size: 11px;
  grid-column-start: 4;
}

.List-Item:hover {
  background-color: aliceblue;
}
