.List-Item {
  width: 100%;
  height: 85px;
  display: grid;
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  background-color: var(--light-gray);
}

.List-Item--description {
  font-size: 11px;
}

.List-Item:hover {
  background-color: var(--light-blue);
  box-shadow: 0 0 1px 1px var(--light-blue);
}
