.InvoiceDetail {
  background-color: var(--light-gray);
  display: grid;
}

@media (min-width: 750px) {
  .InvoiceDetail {
    background-color: var(--dark-blue);
    width: 100%;
  }

  .InvoiceDetail > main {
    display: grid;
    grid-gap: 40px;
    grid-template-areas:
    ". ."
    ". ."
    "invoice invoice"
    ;
    grid-auto-flow: dense;
    padding: 40px;
  }
  .InvoiceDetail > main > section {
    grid-area: invoice;
    display: grid;
    align-content: start;
    grid-gap: 40px;
  }
}

@media (min-width: 1200px) {
  .InvoiceDetail > main {
    grid-template-areas:
    ". invoice"
    ". invoice"
    ". invoice"
    ;
    grid-template-columns: 25% 75%;
    grid-auto-flow: dense;
    padding: 40px;
  }

  .InvoiceDetail > main > section {
    padding-right: 40px;
  }
}
