.InvoiceDetail {
  background-color: var(--light-gray);
  display: grid;
}

@media (min-width: 750px) {
  .InvoiceDetail {
    background-color: var(--dark-blue);
    width: 100%;
  }

  .InvoiceDetail > main {
    display: grid;
    grid-gap: 40px;
    padding: 40px;
    justify-content: center;
  }

  .InvoiceDetail > main > section {
    display: grid;
    align-content: start;
    grid-gap: 40px;
    max-width: 900px;
  }

  .InvoiceDetail--Invoice-Section {
    justify-self: center;
  }
}

@media (min-width: 1200px) {
  .InvoiceDetail > main {
    justify-content: center;
    grid-auto-flow: column;
    padding: 40px;
  }
}
