.BasicInfo--container {
  overflow: auto;
  width: 100%;
  display: grid;
  grid-template-rows: 90px 1fr 1fr auto;
  flex-direction: column;
  justify-items: center;
  align-items: flex-start;
  height: calc(100vh - 150px);
  background-color: var(--dark-gray);
}

@media (min-width: 750px) {
  .BasicInfo--container {
    display: flex;
    background-color: inherit;
    height: calc(100vh - 100px);
    min-height: 600px;
  }
}

/* -----------------------Header----------------------- */
.BasicInfo--header {
  height: 100%;
  width: 100%;
  /* position: -webkit-sticky; /* Safari */
  /* position: sticky; */
  /* top: 0; */
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: var(--dark-blue);
  color: var(--light-gray);
}

.BasicInfo--header-right {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  justify-self: end;
}

.BasicInfo--event-title, .BasicInfo--event-summary {
  text-align: center;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  grid-column: 1 / span 1;
  justify-self: start;
}

.BasicInfo--event-summary {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

input, .BasicInfo--event-summary {
  background-color: #eeeeee;
}

.BasicInfo--event-status {
  width: 130px;
  grid-column: 2 / span 1;
}

.BasicInfo--icons {
  grid-column: 3 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
}

.BasicInfo--icon {
  padding: 10px;
}

.BasicInfo--icon:hover {
  cursor: pointer;
}

.left {
  right: 8%;
}

.right {
  right: 1.5%;
}

.BasicInfo--button:hover, .BasicInfo--event-status:hover {
  cursor: pointer;
}

@media (min-width: 600px) {
  .BasicInfo--event-title, .BasicInfo--event-summary {
    font-size: 35px;
  }
}

@media (min-width: 750px) {
  .BasicInfo--header {
    height: auto;
    background-color: inherit;
    color: inherit;
    justify-items: left;
    grid-template-columns: auto 235px;
    border-bottom: 1px solid black;
    padding: 10px;
    margin: 0 10px;
  }

  .BasicInfo--header-right {
    display: flex;
  }

  .BasicInfo--event-title, .BasicInfo--event-summary {
    text-align: left;
    font-size: 40px;
  }

  .BasicInfo--buttons {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .BasicInfo--event-title, .BasicInfo--event-summary {
    font-size: 60px;
  }
}

/* ------------------------Main-Info-------------------------- */

.MainInfo {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, auto);
  justify-items: center;
  align-items: center;
  padding: 10px;
  background-color: var(--dark-gray);
}

.MainInfo--Area {
  height: 100%;
  width: 100%;
  min-width: 350px;
  color: #eeeeee;
  padding: 5px;
  display: grid;
  align-items: center;
  justify-items: start;
}

label {
  width: 100%;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 0;
  color: var(--turquoise);
}

@media (min-width: 750px) {
  .MainInfo {
    width: auto;
    background-color: var(--light-blue-t);
    border: 1px dashed var(--light-blue);
    border-radius: 10px;
    grid-template-columns: 1fr 5fr 1fr 5fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 15px;
    padding: 30px;
    margin: 20px 20px 0 20px;
  }

  label {
    width: 100%;
    text-align: left;
    font-weight: bold;
    padding: 10px 0;
  }
}

/* ------------------------Staff-and-Notes--------------------- */

.BasicInfo--staff-and-notes {
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 0 10px 20px 10px;
}

.BasicInfo--notes-container, .BasicInfo--staff-container {
  max-height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.BasicInfo--notes, .BasicInfo--notes-readonly {
  height: 100%;
  min-height: 350px;
  width: 100%;
  resize: none;
  overflow: auto;
  align-self: center;
  font-size: 1em;
  border-radius: 5px;
  padding: 5px 0;
}

.BasicInfo--notes {
  border: 1px solid lightgray;
  color: black;
  background-color: #eeeeee;
}

.BasicInfo--notes-readonly {
  border: none;
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
  color: var(--light-gray);
}

.BasicInfo--notes-readonly:focus {
  outline: none
}

@media (min-width: 750px) {
  .BasicInfo--staff-and-notes {
    margin: 0 20px 20px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 30px 30px 30px;
    height: 100%;
    min-height: 300px;
    max-height: 500px;
  }

  .BasicInfo--notes, .BasicInfo--notes-readonly {
    min-height: 200px;
    color: black;
  }
}

.BasicInfo--Buttons {
  display: grid;
  grid-gap: 7.5px;
  grid-template-rows: repeat(2, auto);
  width: 100%;
  padding: 10px;
  background-color: var(--dark-gray);
}

.BasicInfo--Button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: none;
  background: #111111;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  height: 50px;
  width: 100%;
}

.BasicInfo--Button-Icon {
  position: absolute;
  height: 100%;
  right: 0%;
  margin: 0 10px;
  padding: 10px;
}
