.Notes--container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 10px;
  overflow: auto;
  padding: 0 20px;
}

@media (min-width: 750px) {
  .Notes--container {
    width: 100%;
    height: 100%;
    padding: 15px 20px 10px;
  }
}

.Notes,
.Notes--readonly {
  border: none;
  height: 100%;
  width: 100%;
  resize: none;
}

.Notes {
  color: black;
  min-height: 250px;
  background-color: #F8F8F8;
  padding: 10px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  border: 1px solid #BBBBBB;
}

@media (min-width: 750px) {
  .Notes {
    color: black;
    padding: 5px;
    overflow: auto;
    min-height: 300px;
  }
}

.Notes--readonly {
  text-align: left;
  padding: 0 10px;
}

@media (min-width: 750px) {
  .Notes--readonly {
    color: black;
    padding: 0;
  }
}

.Notes:focus,
.Notes-readonly:focus {
  outline: none;
  box-shadow: 0 0 2px 2px var(--light-blue);
}
