.Notes--container {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  overflow: auto;
}

.Notes, .Notes--readonly {
  border: none;
  align-self: center;
  height: 100%;
  width: 100%;
  min-height: 300px;
  max-width: 350px;
  padding: 15px;
  font-size: 1em;
  border-radius: 5px;
  resize: none;
}

.Notes {
  color: black;
  background-color: #F8F8F8;
  min-height: 150px;
}

.Notes--readonly {
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
  color: var(--light-gray);
}

.Notes-readonly:focus {
  outline: none
}

@media (min-width: 750px) {
  .Notes--container {
    width: 100%;
    min-width: 350px;
    height: 100%;
    padding: 30px;
  }

  .Notes {
    overflow: auto;
  }

  .Notes, .Notes--readonly {
    color: black;
    padding: 5px;
    border-radius: 0;
  }

  .Notes--readonly {
    font-size: 20px;
  }
}
