.Invoice--container {
  position: relative;
  align-self: start;
  width: 100%;
  max-width: 900px;
}

.Invoice {
  border-radius: 10px;
  width: 100%;
}

.Invoice table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
}

/* ---------Header row-------------*/

.Invoice--header-row  {
  background: var(--dark-gray);
  height: 40px;
  width: 100%;
}

.Invoice--header-row > * {
  position: -webkit-sticky;
  position: sticky;
  top: 150px;
}

.Invoice--header-row > th {
  padding: 10px;
}

@media (min-width: 750px) {
  .Invoice--header-row > * {
    top: 72px;
  }
}

.Invoice--header-cell {
  padding: 15px;
  background: var(--dark-gray);
  color: var(--white);
}

.Invoice--header-price > h4 {
  text-align: right;
}

.Invoice--header-item {
  text-align: left;
}

.Invoice--header-edit {
  width: 40px;
}
.Invoice--header-quantity,
.Invoice--header-inc {
  width: 75px;
}

.Invoice--header-item {

}

.Invoice--header-price {
  width: 150px;
}


/* -------Cells---------- */

.Invoice--cell {
  border-top: 1px solid var(--dark-gray);
  border-bottom: 1px solid var(--light-gray)ccc;
  background-color: var(--white);
  padding: 15px 10px;
}

.Invoice--add {
  display: grid;
  grid: auto / 45px auto 45px;
  justify-items: center;
  align-items: center;
  background-color: limegreen;
  color: var(--white);
  width: 100%;
  padding: 1px 0;
}

.Invoice--add > div  {
  padding: 15px 10px;
}

.Invoice--add:hover {
  cursor: pointer;
}
