.search {
  position: relative;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  background: transparent;
}

.search--icon {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 1px 2px;
  height: 21px;
  width: 21px;
  color: var(--light-gray);
}

.search--input {
  background: transparent;
  color: var(--light-gray);
  padding: 0 10px 0 40px;
  font-size: 18px;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--light-gray);
}

.search--input:focus{
  outline: none;
  box-shadow: 0 0 2px 1px  var(--turquoise);
  border-color: var(--turquoise);
}
