.search {
  position: relative;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  background: transparent;
}

.search--icon {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40px;
  font-size: 22px;
  padding: 1px 2px;
  color: #333333;
}

.search--input {
  background: transparent;
  color: var(--light-gray);
  padding: 0 10px 0 40px;
  font-size: 18px;
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 5px;
  border: 1px solid #333333;
}

.search--input:focus{
  outline: none;
  box-shadow: 0 0 2px 1px  var(--turquoise);
  border-color: var(--turquoise);
}
